{% extends "base.html" %}

{% block head %}
<title>Minesweeper</title>
<script type="text/javascript" src="js/minesweeper/load.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
var document.grid = [[]];
document.onreadystatechange=load();
</script>

<link rel="stylesheet" href="css/minesweeper.css">
{% endblock %}

{% block content %}
<h1 id="title">Minesweeper</h1>

<table id="minesweeper_table" cellspacing="2" border="1">
{{table_content|safe}}
</table>

<script type="text/javascript">
    $(document).ready(function(){
        $('#minesweeper_table tr td').on('click',function(){
            var $this = $(this);
            var lost  = $this.hasClass('lost') === true ? 'and You LOST' : '';
            alert('Cell '+$(this).attr('id')+' clicked '+lost+'.');
        });
    });
</script>
{% endblock %}